@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48.89, 50.94%, 89.61%;
    --foreground: 24, 34.48%, 34.12%;

    --card: 24,34.48%,34.12%;;
    --card-foreground: 48.89,50.94%,89.61%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 24, 34.48%, 34.12%;
    --primary-foreground: 48.89, 50.94%, 89.61%;
    --primary-hover: 37.89, 34.13%, 32.75%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --ouline: 210 40% 96.1%;
    --outline-foreground: 222.2 47.4% 11.2%;
    --outline-hover: 210 40% 90%;

    --muted: 48.89,50.94%,89.61%;
    --muted-foreground: 24,34.48%,34.12%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 24, 34.48%, 34.12%;
    --input: 24,34.48%,34.12%;
    --ring: 48.89,50.94%,89.61%;

    --radius: 0.5rem;

    --sidebar-background: 48.89,50.94%,89.61%;

    --sidebar-foreground: 24,34.48%,34.12%;

    --sidebar-hover: 24,34.48%,34.12%;


    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 48.89,50.94%, 89.61%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 48.89,50.94%,89.61%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}